.row
  .col-md-4
  .col-md-8
    .transparent2
      %h2#editioncoloc Ajouter Colocation
      =simple_form_for(@colocation, :defaults => { :wrapper_html => {:class => 'form-group'}, :input_html => { :class => 'form-control' } }) do |f|
        .row
          .col-md-4#titre1
            = f.input :titre
            = f.input :superficie
            = f.input :nbmaxcoloc
            = f.input :loyer
            = f.input :description
          .col-md-4#titre1
            = f.input :adress
            = f.input :chambre
            = f.input :occupants   
          %div#photo
            = f.label 'Photo'
            %br/
            %button.btn.btn-warning#ajout  +
            = f.fields_for :photos, multiple: true do |photo|   
              = photo.file_field :image
          %br/
          %p#fin Nombre photo Max  
        #bouton= f.button :submit, "Ajouter Colocation", :class => "btn-primary"

