%h1=@colocation.titre
%br/
%p 
  Cette colocation est située à #{@colocation.adress}
%p
  Pour #{@colocation.superficie} m² avec #{@colocation.chambre} chambres
%p 
  L'appartement est acutellement occupé par #{@colocation.occupants} personnes
  %br/
  Ils sont à la recherche de #{@nb_colocs_supp} personnes supplémentaires
%p=@colocation.description

<<<<<<< HEAD
=button_to "Editer la colocation", "/colocations/#{@colocation.id}/edit",:controller => :colocations, :id => @colocation.id, class: "btn btn-default", :method => :get
=======
>>>>>>> 9e1b7cc9170d79e311352bdb51af80c736d9faf2
